---
title: Front Page
description: 姫川流域地域を調査する群馬県の団体。活動内容は多岐にわたる……予定。
layout: toppage
precontentIsTransparent: true
---
-
  let queries = [], qpages = []
  const indexPrefix = 'activity'
  let rootpath = `/activities/`
  qpages = pages.filter(e => e.meta.permalink.indexOf(rootpath) == 0
                          && e.attributes.layout == indexPrefix           // blogレイアウトが適用されている
                          && e.attributes.draft != true              // 
                          && e.attributes.published == true
                        )
  const newses = qpages.filter(e => e.attributes.categories.some(e => e == 'news'))
  const otherActivities = qpages.filter(e => e.attributes.categories.some(e => e !== 'news'))

#topppage
  #top_activities.mt-3
    .container
      .raise-1.bg-w80.text-shadow-none.py-4.px-3
        h2.text-center Activities
        .row.justify-content-center
          #news.p-2.col-12.col-lg-6
            .raise-1.bg-w80.p-3.h-100
              h3 News
              if(newses && newses.length > 0)
                ul.simpleindex.list-unstyled
                  +lis_of_pages(newses, {icon: true, time: true, self: false, s: true, unstyled: true, description: (page.attributes.description !== undefined ? page.attributes.description : true)})
              else
                p.mb-0 （なし）
          #others.p-2.col-12.col-lg-6.col-xl-6
            .raise-1.bg-w80.p-3.h-100
              h3 Others
              if(otherActivities && otherActivities.length > 0)
                ul.simpleindex.list-unstyled
                  +lis_of_pages(otherActivities, {icon: true, time: true, self: false, s: true, unstyled: true, description: (page.attributes.description !== undefined ? page.attributes.description : true)})
              else
                p.mb-0 （なし）
        a(href="activities/").btn.btn-link.btn-block.text-center#seeAll 記事をすべて見る

  #top_about.mt-3
    .container
      .raise-1.bg-p80.text-shadow-none.text-white.py-5.px-3
        h2.text-center About us
        .text-center.my-4.h3 「高崎から姫川へ 姫川を全国へ」
        p
          | 当会は「高崎から姫川へ 姫川を全国へ」をテーマに活動する団体です。
          | 大糸線沿線、姫川流域(長野県白馬村・小谷村・新潟県糸魚川市)や群馬県の風土などについて発信します。
        p.mb-0 活動は旅行が主です。Twitterや旅行記などさまざまな形態にて発信する予定です。