#membersIndex
  #membersList
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center

    .hss-memberIndex-member
      padding: 4px
  
      .hss-memberIndex-member-inner
        @extend .bg-w80
        @extend .text-shadow-none
        @extend .raise-1
        @extend .p-2
        @extend .text-decoration-none
        display: flex
        flex-direction: column
        align-items: center
        width: 260px
        height: 430px

        > img
          @extend .raise-1
          width: 200px
          height: 200px
          object-fit: cover
          border-radius: 100%
#member
  #member_tachie
    height: auto
    object-fit: contain
    object-position: top
    width: 20em
    max-width: 100%