#nav
  border: none

  transition: opacity .4s ease, visibility .4s ease

  display: grid
  grid-template-columns: 350px 1fr
  z-index: 9999
  position: fixed
  pointer-events: none

  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, xl) - 0.02)
    grid-template-columns: 300px 1fr

  @media (max-width: map-get($grid-breakpoints, md) - 0.02)
    grid-template-columns: 70vw 100vw
    transition: left .4s ease, opacity .4s ease, visibility .4s ease

  nav
    &#mainnav
      height: 48px
      width: 100%
      border: none
      grid-column: 1 / 3
      grid-row: 1 / 2
      background: rgba(249, 249, 255, .8)
      pointer-events: auto

      @media (max-width: map-get($grid-breakpoints, md) - 0.02)
        grid-column: 2 / 3

      button.sidebar-toggler,
      button.hamburger
        height: 48px
        width: 48px
        border: none
        background: transparent

        @media (max-width: map-get($grid-breakpoints, md) - 0.02)
          svg
            font-size: 22.4px

    &#breadcrumb
      grid-column: 1 / 3
      grid-row: 2 / 3
      background-color: rgba(249, 249, 255, .8)
      height: 33px
      border: none
      pointer-events: auto

      @media (max-width: map-get($grid-breakpoints, md) - 0.02)
        grid-column: 2 / 3

      > div
        overflow-x: auto

        > .breadcrumb
          width: max-content
          width: -webkit-max-content
          width: -moz-max-content