extends ./plain.pug

block pre_content
  #toppage
    #top_imgs
      #top_img1
        img(src="/files/images/top-mark.svg" alt="❄")
      #top_img2
        img(src="/files/images/top-type.svg" alt="姫川雪質研究会\nthe Himekawa Snow Society")
